.emailjs-success button:before {
	content: "sent";
	color: #fff !important;
	text-transform: uppercase;
	text-decoration: none;
	background: green;
	padding: 20px;
	border-radius: 5px;
	display: inline-block;
	border: none;
	width: 100%;
}

.emailjs-failed button:before {
	content: "failed";
	color: #fff !important;
	text-transform: uppercase;
	text-decoration: none;
	background: #272727;
	padding: 20px;
	border-radius: 5px;
	display: inline-block;
	border: none;
	width: 100%;
}
