@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap");

.app {
	height: 100%;
	background-color: rgba(106, 25, 125, 0.6);
}

.bgImage {
	position: fixed;
	left: 0;
	right: 0;
	z-index: -1;
	display: block;
	background-image: url("./components/assets/intro.png");

	height: 100%;
}

.navItems {
	display: flex;
	justify-content: space-around;
	height: 10%;
	align-items: center;

	color: aliceblue;
	font-family: "Montserrat", sans-serif;
	font-size: 40px;
	font-weight: bold;

	box-shadow: 0 2px 2px black;
}

.navItems ul {
	display: flex;
	list-style: none;
	justify-content: space-between;
	width: 45%;
	font-size: 20px;
}

a {
	padding: 15px;
}

.toggleIcon {
	height: 26px;
	box-sizing: border-box;
	display: flex;
	flex-flow: column;
	cursor: pointer;
	width: 35px;
	padding: 2px;
	justify-content: space-around;
	border: 0.5px solid white;
	align-items: center;
	border-radius: 5px;
}

.toggleIconLine {
	width: 25px;
	height: 3px;
	background-color: aliceblue;
}

.sidebar {
	display: flex;
	height: 100%;
	position: fixed;
	background-color: purple;
	z-index: 100;
}

.sidebar ul {
	list-style: none;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	color: black;
	font-size: 20px;
	font-family: montserrat;
	font-weight: 700;
	z-index: 500;
	align-items: center;
}
@media screen and (max-width: 1300px) {
	.navItems {
		font-size: 30px;
	}

	.navItems ul {
		font-size: 20px;
	}
}

@media screen and (max-width: 1000px) {
	.navItems ul {
		display: none;
	}
}

@media screen and (min-width: 1000px) {
	.toggleIcon,
	.sidebar {
		display: none;
	}
}
