.app {
	height: 100vh;
	background-color: rgba(106, 25, 125, 0.6);
}

.bgImage {
	position: fixed;
	left: 0;
	right: 0;
	z-index: -1;
	display: block;
	background-image: url("./components/assets/intro.png");

	height: 800px;
}

.navItems {
	display: flex;
	flex: 1 1;
	justify-content: space-around;
	height: 10%;
	align-items: center;

	color: aliceblue;
	font-family: sans-serif;
	font-size: 40px;
	font-weight: bold;

	box-shadow: 0 2px 2px black;
}

.navItems ul {
	display: flex;
	list-style: none;
	justify-content: space-between;
	width: 45%;
	font-size: 20px;
}

a {
	padding: 15px;
}
